/*Estilos del video del banner de descuentos inluido en el index*/
.video-container {
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.video-banner {
    background-color: #dff9e8;
    width: 75%;
    display: flex;
    justify-content: center;
}

video {
    position: relative;
    height: 15em;
    width: 30%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}