/* Estilos carrito */
.padre {
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.cart-container {
    display: none;
    margin-top: 30px;
}

.cart-container h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.cart-items {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.cart-items li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-items li button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.cart-items li button:hover {
    background-color: #c82333;
}

.total {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.payment-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.payment-form button:hover {
    background-color: #0056b3;
}
/*Estilos Body*/
.contenedor-ayuda {
    display: flex;
    justify-content: center;
}

.body-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 16px;
    padding: 16px;
    justify-items: center;
}

.item-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 500px;
    background-color: rgba(228, 248, 233);
    border: 2px solid rgba(86, 152, 75);
    border-radius: 10px;
}

.item-titulo {
    margin-top: 1em;
    position: absolute;
    color: rgba(10, 10, 10);
    background-color: rgba(154, 231, 144, 0.5);
    transform: translate(0, -6em);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.item-precio {
    margin-bottom: 1em;
    position: absolute;
    color: rgba(10, 10, 10);
    background-color: rgba(154, 231, 144, 0.5);
    transform: translate(0, 7em);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
.cantidad-container{
    margin-bottom: 1em;
    position: absolute;
    color: rgba(10, 10, 10);
    background-color: rgba(154, 231, 144, 0.7);
    transform: translate(0, 12em);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.cantidad-container input {
    width: 50px;
    text-align: center;
}

.boton-agregar {
  background-color: #81EE87;
}

.boton-agregar:hover {
  background-color: #3B9A40;
  color: white;
}