/*Estilo del header*/
#header {
  font-size: larger;
  padding: 8px;
  padding-left: 200px;
  background-color: #75C279;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#tituloContainer {
  display: flex;
  align-items: center;
}

#tituloHead {
  vertical-align: middle;
  padding-right: 250px;
}

#botones {
  vertical-align: middle;
  display: flex;
  gap: 0.8em;
  margin-right: 2em;
}

#botones a {
  display: block;
}

#botones button {
  padding: 8px;
  background-color: #81EE87;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
}

#botones button:hover,
#botones button:focus {
  background-color: #3B9A40;
  color: white;
}

#botones button.active {
  background-color: #3B9A40;
  color: white;
}

/*Estilos Body*/
.foto_carrito {
  height: 12em;
  width: 12em;
}



/*Estilo del footer*/
footer {
  background-color: #333;
  color: #fff;
  padding: 3em;
}

.columnas-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.columna-footer {
  width: 30%;
  margin-bottom: 20px;
}

.cabecera-columna-footer {
  font-weight: bold;
  margin-bottom: 10px;
}

.redes-footer {
  list-style: none;
  padding: 0;
  margin: 0;
}

.redes-footer li {
  display: inline-block;
  margin-right: 10px;
}

.redes-footer li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.redes-footer li a:hover {
  color: #9adc9d;
}

.formulario-contacto {
  display: flex;
  flex-direction: column;
}

.formulario-contacto input,
.formulario-contacto textarea {
  margin-bottom: 10px;
  padding: 5px;
}

.boton-enviar {
  background-color: #81EE87;
}

.boton-enviar:hover {
  background-color: #3B9A40;
  color: white;
}

.copyright {
  color: rgb(151, 151, 151);
}